.mainBox { 
    width: 800px; 
    margin: 0 auto;
    text-align: center;
}
div .title1 {
    font-size: 36px;
    font-weight: bold;
}
div .title2 {
    font-size: 24px;
    font-weight: bold;
}
div .inputBox {
    display: block;
}
div .searchBox {
    margin: 0 auto;
    width: 400px;
    text-align: left;
    display: block;
}
div .searchBox input .searchFor {
    size: 60;
}
div .displayedData {
    border-style: solid;
    border-width: 1px;
    width: 310px;
}
div .searchTable {
    cursor: pointer; 
}