.bg{background-image:url(../assets/bg.jpg);max-height: 100%;min-height: 100vh;color:#fff;font-family: 'Oswald', sans-serif;background-size: cover;background-position: bottom center;}
.about-bg{background-image:url(../assets/about-bg.jpg);max-height: 100%;min-height: 100vh;color:#fff;font-family: 'Oswald', sans-serif;background-size: cover;background-position: bottom center;}
.s-blue {color: #00aeed;} 
.pt-7{padding-top: 5rem!important;}
.heading{font-size: 40px;font-weight: 300;text-transform:uppercase;}
/* page structure */
#searchbar {display: block;width: 100%}
/** tokeninputs **/
/* Example tokeninput style #1: Token vertical list*/
ul.token-input-list {overflow: hidden;height: auto !important;height: 1%;border: 1px solid #999;cursor: text;
font-size: 12px;z-index: 999;margin: 0;padding: 0;background-color: #fff;list-style-type: none;clear: left;border-radius: 4px;height: 38px !important;width:100%;}
ul.token-input-list li {list-style-type: none;padding: 6px;font-size:15px;}
ul.token-input-list li input {border: 0;width: 100%;background-color: white;}
li.token-input-token {overflow: hidden;height: auto !important;height: 1%;padding: 6px 5px;color: #000;cursor: default;display: block;}
li.token-input-token p {float: left;padding: 0;margin: 0;font-size: 1rem;line-height: 1.5;color: #495057;}
/* li.token-input-token span {float: right;color: #777;cursor: pointer;} */

div.token-input-dropdown {position: absolute;width: 420px;background-color: #fff;overflow: hidden;border-left: 1px solid #ccc;
border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;cursor: default;font-size: 15px;font-weight:300;z-index: 1;border-radius:0px 0px 4px 4px;}
div.token-input-dropdown p {margin: 0;padding: 5px;color: #000;}
div.token-input-dropdown ul {margin: 0;padding: 0;}
div.token-input-dropdown ul li {background-color: #fff;padding: 5px;list-style-type: none;}
div.token-input-dropdown ul li.token-input-dropdown-item {background-color: #ebebeb;}
div.token-input-dropdown ul li.token-input-dropdown-item2 {background-color: #ebebeb;}
div.token-input-dropdown ul li em {font-weight: bold;font-style: normal;}
div.token-input-dropdown ul li.token-input-selected-dropdown-item {background-color: #cecece;}
.token-input-dropdown{max-height:300px;color:#000;font-size:15px !important;font-weight:300;line-height:22.5px;border-radius:4px;}
.token-input-token span{display:none;}
@media only screen and (max-width: 767px) {
	.displayedData{background: #ebebeb;width: 100%;}
	.bg{min-height:100vh;}
	/* ul.token-input-list {width:100%;}
	.token-input-dropdown{width:315px !important;} */
}
.card-body{box-shadow:0px 8px 16px rgb(0 0 0 / 11%)}
.btn-custom {color: #000;background-color: #bed1e0;border-color: #bed1e0;cursor:default;}
.btn-abt {color: #fff;background-color: transparent;border-color: #bed1e0;cursor:default;}
.btn-home {color: #fff;background-color: transparent;border-color: #bed1e0;cursor:default;position: absolute;top: 0px;}
.btn-blue {color: #fff;background-color: #01abef;border-color: #01abef;}
.btn-blue:hover {color: #01abef;background-color: #fff;border-color: #01abef;}
.content-wrapper {overflow-x: hidden;background: #f2f2f2;}
.breadcrumb {padding: 0px;background: transparent;}
.breadcrumb-item {color: #061b5e;font-size: 28px;font-weight: 500;}

.searh-page .navbar-light .navbar-nav .nav-link {color: #fff;}
.searh-page .navbar-light .navbar-nav .nav-link:focus, .searh-page .navbar-light .navbar-nav .nav-link:hover {color: #01abef;}
.searh-page .navbar-light .navbar-nav .nav-link:focus, .searh-page .navbar-light .navbar-nav .nav-link:hover {color: #01abef;}

.whitebg{background: #fff;color: #01215a;font-size: 16px;line-height: 30px;font-weight: normal;padding: 15px;border-radius:4px;}

.select-dropdown{width:100%;}
.select2-selection{height:38px !important;}
.select2-container--default .select2-selection--single .select2-selection__arrow {top: 5px !important;}
.width{width:100%;}
.adj{position:absolute;top:-145px;}
.adj-h{height:38px;}

#searchDiv {visibility: visible;vertical-align: top;text-align: center;margin-left: auto;margin-right: auto;}
#aboutDiv {display:none;vertical-align: top;text-align: center;margin-left: auto;margin-right: auto;}
#contentIframeDiv{display: none;vertical-align: top;text-align: center;margin-left: auto;margin-right: auto;}
.z-border{border:0px;}
option{background:#ebebeb;}
input:focus{outline:none;}
select:focus{outline:none;}
.m-90{min-height:88vh;}